In [1]:
import pandas as pd

train_df = pd.read_csv('train_df.csv')
valid_df = pd.read_csv('valid_df.csv')
test_df = pd.read_csv('test_df.csv')
pd.set_option('display.max_columns', None)
train_df

C:\Users\erudm\AppData\Local\Temp\ipykernel_7288\2341249399.py:3: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('train_df.csv')

,Position,Name,dk_points,dk_salary,Team,Opp,Score,year,fd_points,fd_salary,yh_points,yh_salary,hits,abs,runs,rbis,doubles,triples,hrs,bbs,so,sb,e,hbp,sf,sac_bunts,cs,po,order,game_date,starter_throws,avg_hit_distance,avg_launch_speed,avg_launch_angle,estimated_ba_using_speedangle,estimated_woba_using_speedangle,total_delta_home_win_exp,total_delta_run_exp,home_team,position_2,position_3,position_4,position_5,position_6,position_7,day_num,day_of_week,angular_date,dk_salary_lagged_1,dk_salary_lagged_2,dk_salary_lagged_3,dk_salary_lagged_4,dk_salary_lagged_5,dk_salary_next
0,7,Matt Kemp,20.0,4200.0,SDG,away_sfo,10-2,2015,24.7,3900.0,NaN,NaN,4,5,1,1,2,0,0,0,1,0,0,0,0,0,0,0,3,2015-04-11,R,165.50000,87.525000,7.750000,0.680000,0.711000,0.015,2.124,True,False,False,False,False,False,True,6,5,4.48799,4600.0,4700.0,4700.0,4300.0,4000.0,4500.0
1,7,Wil Myers,16.0,3500.0,SDG,away_sfo,10-2,2015,22.4,3100.0,NaN,NaN,2,5,2,2,1,0,0,0,1,0,0,0,0,0,0,0,1,2015-04-11,R,175.00000,83.800000,16.600000,0.391750,0.427750,-0.053,0.917,True,False,False,False,False,False,True,6,5,4.48799,3800.0,3900.0,3900.0,3600.0,3300.0,3700.0
2,5,Adrian Beltre,15.0,5100.0,TEX,away_hou,6-2,2015,18.2,3900.0,NaN,NaN,2,5,1,0,1,1,0,0,0,0,0,0,0,0,0,0,3,2015-04-11,R,88.40000,88.300000,-4.600000,0.401200,0.377000,0.088,-0.269,True,False,False,False,True,False,False,6,5,4.48799,5200.0,4500.0,4500.0,4600.0,4400.0,4900.0
3,5,Will Middlebrooks,15.0,2900.0,SDG,away_sfo,10-2,2015,19.0,2400.0,NaN,NaN,3,5,0,2,1,0,0,0,1,0,0,0,0,0,0,0,6,2015-04-11,L,251.00000,90.866667,23.333333,0.561750,0.550500,0.123,1.801,True,False,False,False,True,False,False,6,5,4.48799,3200.0,3300.0,3200.0,3000.0,2800.0,3100.0
4,7,Justin Upton,14.0,3900.0,SDG,away_sfo,10-2,2015,19.4,3900.0,NaN,NaN,2,4,2,2,0,0,0,0,1,0,0,0,1,0,0,0,4,2015-04-11,L,109.75000,97.500000,3.000000,0.443250,0.462500,0.102,-0.450,True,False,False,False,False,False,True,6,5,4.48799,4300.0,4500.0,4500.0,4000.0,3800.0,4100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229469,4,Kolten Wong,0.0,3700.0,STL,away_was,1-8,2019,0.0,NaN,NaN,NaN,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2019-10-14,NaN,166.30777,84.576651,15.102708,0.323366,0.366371,NaN,NaN,False,False,False,True,False,False,False,193,0,0.00000,3400.0,3500.0,3700.0,3900.0,3700.0,3800.0
229470,4,Brian Dozier,0.0,3500.0,WAS,away_stl,8-1,2019,0.0,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,PH,2019-10-14,NaN,166.30777,84.576651,15.102708,0.323366,0.366371,NaN,NaN,True,False,False,True,False,False,False,193,0,0.00000,3600.0,3300.0,3500.0,3500.0,3600.0,3500.0
229471,5,Matt Carpenter,0.0,3400.0,STL,away_was,1-8,2019,0.0,NaN,NaN,NaN,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,PH,2019-10-14,NaN,166.30777,84.576651,15.102708,0.323366,0.366371,NaN,NaN,False,False,False,False,True,False,False,193,0,0.00000,3600.0,3900.0,3900.0,4000.0,3900.0,3900.0
229472,7,Dexter Fowler,0.0,3300.0,STL,away_was,1-8,2019,0.0,NaN,NaN,NaN,0,4,0,0,0,0,0,0,3,0,0,0,0,0,0,0,1,2019-10-14,NaN,166.30777,84.576651,15.102708,0.323366,0.366371,NaN,NaN,False,False,False,False,False,False,True,193,0,0.00000,3400.0,3500.0,3600.0,3800.0,3500.0,3500.0
229473,2,Matt Wieters,0.0,3200.0,STL,away_was,1-8,2019,0.0,NaN,NaN,NaN,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,PH,2019-10-14,NaN,166.30777,84.576651,15.102708,0.323366,0.366371,NaN,NaN,False,True,False,False,False,False,False,193,0,0.00000,3500.0,3000.0,3300.0,3500.0,3400.0,3300.0

In [2]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229474 entries, 0 to 229473
Data columns (total 54 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Position                         229474 non-null  int64
 1   Name                             229474 non-null  object
 2   dk_points                        229474 non-null  float64
 3   dk_salary                        229474 non-null  float64
 4   Team                             229474 non-null  object
 5   Opp                              229474 non-null  object
 6   Score                            229474 non-null  object
 7   year                             229474 non-null  int64
 8   fd_points                        229474 non-null  float64
 9   fd_salary                        140479 non-null  float64
 10  yh_points                        145197 non-null  float64
 11  yh_salary                        145197 non-null  float64
 12  hits                             229474 non-null  int64
 13  abs                              229474 non-null  int64
 14  runs                             229474 non-null  int64
 15  rbis                             229474 non-null  int64
 16  doubles                          229474 non-null  int64
 17  triples                          229474 non-null  int64
 18  hrs                              229474 non-null  int64
 19  bbs                              229474 non-null  int64
 20  so                               229474 non-null  int64
 21  sb                               229474 non-null  int64
 22  e                                229474 non-null  int64
 23  hbp                              229474 non-null  int64
 24  sf                               229474 non-null  int64
 25  sac_bunts                        229474 non-null  int64
 26  cs                               229474 non-null  int64
 27  po                               229474 non-null  int64
 28  order                            229474 non-null  object
 29  game_date                        229474 non-null  object
 30  starter_throws                   217081 non-null  object
 31  avg_hit_distance                 229474 non-null  float64
 32  avg_launch_speed                 229474 non-null  float64
 33  avg_launch_angle                 229474 non-null  float64
 34  estimated_ba_using_speedangle    229474 non-null  float64
 35  estimated_woba_using_speedangle  229474 non-null  float64
 36  total_delta_home_win_exp         217081 non-null  float64
 37  total_delta_run_exp              214804 non-null  float64
 38  home_team                        229474 non-null  bool
 39  position_2                       229474 non-null  bool
 40  position_3                       229474 non-null  bool
 41  position_4                       229474 non-null  bool
 42  position_5                       229474 non-null  bool
 43  position_6                       229474 non-null  bool
 44  position_7                       229474 non-null  bool
 45  day_num                          229474 non-null  int64
 46  day_of_week                      229474 non-null  int64
 47  angular_date                     229474 non-null  float64
 48  dk_salary_lagged_1               229474 non-null  float64
 49  dk_salary_lagged_2               229474 non-null  float64
 50  dk_salary_lagged_3               229474 non-null  float64
 51  dk_salary_lagged_4               229474 non-null  float64
 52  dk_salary_lagged_5               229474 non-null  float64
 53  dk_salary_next                   229474 non-null  float64
dtypes: bool(7), float64(20), int64(20), object(7)
memory usage: 83.8+ MB

#### Because I dont want to delete ~12000 samples that have NA starter_throws values and it is a categorical column, I decided to fill the NA values with the mode which is 'R'.

In [3]:
throw_mode = train_df['starter_throws'].mode()[0]
throw_mode

'R'

In [4]:
train_df['starter_throws'] = train_df['starter_throws'].fillna(throw_mode)
valid_df['starter_throws'] = valid_df['starter_throws'].fillna(throw_mode)
test_df['starter_throws'] = test_df['starter_throws'].fillna(throw_mode)

#### Same thinking with total_delta_home_win_exp and total_delta_run_exp but since they are continous numerical values I'll replace them with their respective means instead.

In [5]:
tdhwe_mean = train_df['total_delta_home_win_exp'].mean()
tdre_mean = train_df['total_delta_run_exp'].mean()

train_df['total_delta_home_win_exp'] = train_df['total_delta_home_win_exp'].fillna(tdhwe_mean)
valid_df['total_delta_home_win_exp'] = valid_df['total_delta_home_win_exp'].fillna(tdhwe_mean)
test_df['total_delta_home_win_exp'] = test_df['total_delta_home_win_exp'].fillna(tdhwe_mean)

train_df['total_delta_run_exp'] = train_df['total_delta_run_exp'].fillna(tdre_mean)
valid_df['total_delta_run_exp'] = valid_df['total_delta_run_exp'].fillna(tdre_mean)
test_df['total_delta_run_exp'] = test_df['total_delta_run_exp'].fillna(tdre_mean)

## Preprocess the data

In [6]:
cols_to_drop = ['Position', 'Name', 'Score', 'game_date', 'day_num', 'day_of_week', 'year', 'fd_points', 'fd_salary', 'yh_points', 'yh_salary']
train_df.drop(cols_to_drop, axis=1, inplace=True)
valid_df.drop(cols_to_drop, axis=1, inplace=True)
test_df.drop(cols_to_drop, axis=1, inplace=True)

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import numpy as np
import torch
from sklearn.compose import ColumnTransformer

time_features = ['dk_salary_lagged_5', 'dk_salary_lagged_4', 'dk_salary_lagged_3', 'dk_salary_lagged_2', 'dk_salary_lagged_1', 'dk_salary']
numerical_features = ['dk_points', 'hits', 'abs', 'runs', 'rbis', 'doubles', 'triples', 'hrs', 'bbs', 'so', 'sb', 'e', 'hbp', 'sf', 'sac_bunts', 'cs', 'po', 'avg_hit_distance', 'avg_launch_speed', 'avg_launch_angle', 'estimated_ba_using_speedangle', 'estimated_woba_using_speedangle', 'total_delta_home_win_exp', 'total_delta_run_exp', 'angular_date']
categorical_features = ['Team', 'Opp', 'starter_throws', 'order']
boolean_features = ['home_team', 'position_2', 'position_3', 'position_4', 'position_5', 'position_6', 'position_7']
target_feature = 'dk_salary_next'

transformer = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features),
        ('bool', OneHotEncoder(drop='if_binary'), boolean_features)
    ],
    remainder='passthrough'
)

In [8]:
# I fitted the data to dk_salary for all of the "_lagged" columns but they need to have
# the same name as the column that the data was fitted on so this is a hacky way to do that

transformer.fit(train_df.drop(time_features, axis=1))
cols = transformer.get_feature_names_out()

scaler = StandardScaler()
scaler.fit(train_df[['dk_salary']])

def transform_time_features(df):    
    for feature in time_features:
        transformed_feature = scaler.transform(df[[feature]].rename(columns={feature: 'dk_salary'}))
        df[feature] = transformed_feature

def transform_df(df):
    transform_time_features(df)
    transformed = transformer.transform(df)
    scaled_df_without_time = pd.DataFrame(transformed.toarray(), columns=cols)
    return pd.concat([df[time_features], scaled_df_without_time], axis=1)

In [9]:
scaled_train_df = transform_df(train_df)
scaled_valid_df = transform_df(valid_df)
scaled_test_df = transform_df(test_df)

In [10]:
def combine_features(original_df, scaled_df):
    X_time_series = original_df[time_features].values
    X_time_series = np.reshape(X_time_series, (X_time_series.shape[0], 6, 1))
    
    X_current_features = np.reshape(scaled_df, (scaled_df.shape[0], 1, scaled_df.shape[1]))
    X_current_features = np.repeat(X_current_features, 6, axis=1)
    
    train_x = np.concatenate((X_time_series, X_current_features), axis=2)
    train_y = original_df[target_feature].values
    return train_x, train_y

In [11]:
train_x, train_y = combine_features(train_df, scaled_train_df)
valid_x, valid_y = combine_features(valid_df, scaled_valid_df)
test_x, test_y = combine_features(test_df, scaled_test_df)

## Convert to tensors and put in Dataset

In [13]:
import torch

train_x, train_y = map(torch.tensor, (train_x, train_y))
valid_x, valid_y = map(torch.tensor, (valid_x, valid_y))
test_x, test_y = map(torch.tensor, (test_x, test_y))

train_x = train_x.float()
train_y = train_y.float()

valid_x = valid_x.float()
valid_y = valid_y.float()

test_x = test_x.float()
test_y = test_y.float()

In [14]:
from torch.utils.data import Dataset

class HitterDataset(Dataset):
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def __getitem__(self, index):
        return self.x[index], self.y[index]
    
    def __len__(self):
        return len(self.x)

In [34]:
from torch.utils.data import DataLoader

batch_size=32

train_data = HitterDataset(train_x, train_y)
valid_data = HitterDataset(valid_x, valid_y)
test_data = HitterDataset(test_x, test_y)

train_loader = DataLoader(train_data, batch_size=batch_size)
valid_loader = DataLoader(valid_data, batch_size=batch_size)
test_loader = DataLoader(test_data, batch_size=batch_size)

In [35]:
from torch import nn

class LSTMModel(nn.Module):
    def __init__(self, input_size=1, hidden_layer_size=32, num_layers=2, output_size=1, dropout=0.2):
        super(LSTMModel, self).__init__()

        self.hidden_layer_size = hidden_layer_size
        self.num_layers = num_layers
        
        self.fc1 = nn.Linear(input_size, hidden_layer_size)
        self.relu = nn.ReLU()
        self.lstm = nn.LSTM(hidden_layer_size, hidden_size=hidden_layer_size,
                           num_layers=num_layers)
        self.dropout = nn.Dropout(dropout)
        self.fc2 = nn.Linear(num_layers * hidden_layer_size, output_size)

    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        lstm_output, (h_n, c_n) = self.lstm(out)
        out = h_n.permute(1, 0, 2).reshape(batch_size, -1)
        out = self.dropout(out)
        out = self.fc2(out)
        return out

model = LSTMModel(input_size=train_x.shape[2], num_layers=2, output_size=1)

In [36]:
from torch import optim

optimizer = optim.Adam(model.parameters(), lr=0.0001)
criterion = nn.MSELoss()

epochs = 10

train_loss = []
test_loss = []

for epoch in range(epochs):
    model.train()
    epoch_train_loss = 0.
    for data, labels in train_loader:
        optimizer.zero_grad()
        output = model.forward(data)
        loss = criterion(output, labels)
        loss.backward()
        optimizer.step()
        epoch_train_loss += loss.item()
    train_loss.append(epoch_train_loss / len(train_loader))
    
    model.eval()
    epoch_test_loss = 0.
    for data, labels in test_loader:
        output = model.forward(data)
        loss = criterion(output, labels)
        epoch_test_loss += loss.item()
    test_loss.append(epoch_test_loss / len(test_loader))
    
    print('Epoch', epoch, 'losses', train_loss[-1], test_loss[-1])

RuntimeError: mat1 and mat2 shapes cannot be multiplied (32x12 and 64x1)